<div class="team-users-details-wrapper">
  <team-users-list [teamDetails]="teamDetails"
                   [canModifyUsers]="canModifyUsers"
                   [canModifyTeamAdmins]="canModifyTeamAdmins"
                   (teamMembers)="teamMembers = $event"
                   (changingTeamMember)="changingTeamMember = $event"
                   *ngIf="state === TeamUsersState.LIST_USERS"></team-users-list>

  <add-team-user [teamDetails]="teamDetails"
                 (teamMemberAdded)="cancelAddingTeamMember()"
                 *ngIf="state === TeamUsersState.ADD_TEAM_MEMBER"></add-team-user>

  <div class="team-users-actions"
       [ngClass]="{'removing-team-member': changingTeamMember}">

    <button *ngIf="state === TeamUsersState.LIST_USERS && teamMembers"
            class="add-team-members-button"
            (click)="addTeamMember()"
            [ngClass]="{ 'disabled': !canModifyUsers }"
            [disabled]="!canModifyUsers">
      Add Team Members
    </button>

    <button *ngIf="state === TeamUsersState.ADD_TEAM_MEMBER"
            class="cancel-adding-team-members-button"
            (click)="cancelAddingTeamMember()">
      Cancel
    </button>
  </div>
</div>
