@import "~materialize-css/sass/materialize.scss";

:host {
  flex: 1;
  display: flex;
  flex-direction: column;

  team-users-list{
    width: 100%;
    flex: 1;
  }

  .team-users-actions{
    margin-bottom: 0;
    position: relative;
    margin-left: 0;
    margin-right: 0;

    .add-team-members-button{
      @extend .btn;
      @extend .blue;
      @extend .lighten-1;
      @extend .white-text;
    }

  }

}
