@import '~materialize-css/dist/css/materialize.min';

:host{
  @extend .row;
  flex: 1;
  margin: 0;
  display: flex;
  flex-direction: column;

  .tabs{
    flex-shrink: 0;

    div.indicator{
      @extend .blue;
    }

    .tab a{
      @extend .blue-text;
      @extend .col;
      @extend .s4;
    }
  }

  .settings-content-wrapper{
    overflow-y: auto;
    @extend .col;
    @extend .s12;
    @extend .m12;
    @extend .l12;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
