<div class="user-profile-card-wrapper">

  <div class="user-profile-card">

    <div class="card-content">

      <div class="filling-form-card-content"
           [ngClass]="{ submitting: updatingUserDetails, 'has-submit-error': !!updatingUserDetailsError }">

        <span class="title">User Details</span>

        <form id="user-details-form"
              [formGroup]="userDetailsFormGroup"
              (ngSubmit)="updateUserDetails()">

          <div class="user-details">

            <div class="input-field username">
              <input id="username"
                     type="text"
                     formControlName="username"
                     [(ngModel)]="model.username"
                     [ngClass]="{ 'validation-pending': userDetailsFormGroup.controls.username.pending }"/>
              <label for="username">Username</label>
              <div class="async-validation-indicator" [ngClass]="{ 'pending': userDetailsFormGroup.controls.username.pending }">
                <circular-loading></circular-loading>
              </div>
              <div class="form-validation-errors">
                <div class="form-validation-error" [ngClass]="{ 'has-errors': isFieldHasError(userDetailsFormGroup.controls.username, 'required') }">
                  Username is required
                </div>
                <div class="form-validation-error" [ngClass]="{ 'has-errors': isFieldHasError(userDetailsFormGroup.controls.username, 'usernameTaken', false) }">
                  Username is taken
                </div>
                <div class="form-validation-error" [ngClass]="{ 'has-errors': isFieldHasError(userDetailsFormGroup.controls.username, 'usernameTakenCheckFailed', false) }">
                  Failed checking if username exists
                </div>
              </div>
            </div>

            <div class="input-field email">
              <input id="email"
                     type="email"
                     formControlName="email"
                     [(ngModel)]="model.email"/>
              <label for="email">Email</label>
              <div class="form-validation-errors">
                <div class="form-validation-error" [ngClass]="{ 'has-errors': isFieldInvalid(userDetailsFormGroup.controls.email) }">
                  The email is not valid
                </div>
              </div>
            </div>

          </div>

          <div class="credentials">

            <div class="input-field first-name">
              <input id="first-name"
                     type="text"
                     formControlName="firstName"
                     [(ngModel)]="model.firstName"/>
              <label for="first-name">First name</label>
              <div class="form-validation-errors">
                <div class="form-validation-error" [ngClass]="{ 'has-errors': isFieldInvalid(userDetailsFormGroup.controls.firstName) }">
                  First name is required
                </div>
              </div>
            </div>

            <div class="input-field last-name">
              <input id="last-name"
                     type="text"
                     formControlName="lastName"
                     [(ngModel)]="model.lastName"/>
              <label for="last-name">Last name</label>
              <div class="form-validation-errors">
                <div class="form-validation-error" [ngClass]="{ 'has-errors': isFieldInvalid(userDetailsFormGroup.controls.lastName) }">
                  Last name is required
                </div>
              </div>
            </div>

          </div>

          <div class="submit-error">
            {{updatingUserDetailsError}}
          </div>

          <div class="user-details-updated" *ngIf="isUserDetailsUpdated">
            The user details were successfully updated
          </div>

          <div class="submit-wrapper">
            <button type="submit"
                    class="submit-button"
                    [disabled]="!canUpdateUserDetails()"
                    [ngClass]="{ disabled: !canUpdateUserDetails() }">
                   Update Profile
            </button>
          </div>

        </form>

      </div>

      <div class="submitting-form-card-content" [ngClass]="{ submitting: updatingUserDetails }">
        <circular-loading></circular-loading>
      </div>

    </div>

  </div>

</div>
