@import "../../../../commonStyles/_loading";
@import '~materialize-css/sass/components/_tabs';

:host{
  display: flex;
  flex-direction: column;

  h4 {
    margin-top: 0;
  }

  .user-settings-content{
    width: 100%;

    .tabs{
      @extend .row;
      margin-bottom: 0;

      div.indicator{
        @extend .blue;
      }

      .tab a{
        @extend .blue-text;
        @extend .col;
        @extend .s4;

      }

      @media #{$small-and-down} {
        .tab a{
          font-size: 0.7rem;
        }
      }
    }

  }

  #userPermissionsSettings, #userTeamsSettings, #userPasswordSettings{
    flex: 1;
    margin-top: 1rem;
  }

  #userPasswordSettings{
    display: flex;
    flex-direction: column;

    .content-wrapper {
      flex: 1;
      display: flex;
      flex-direction: column;

      change-user-password{
        flex: 1;
        display: flex;
        flex-direction: column;
      }
    }
  }

  .not-allowed-to-change-password-message{
    @extend .centered;
  }
}
