<h5 class="title">Add skill prerequisite</h5>

<div class="filling-form-wrapper"
    [ngClass]="{ submitting: isAddingSkillPrerequisite, 'has-submit-error': !!addSkillPrerequisiteError }">

  <form id="add-skill-prerequisite-form"
        [formGroup]="addSkillPrerequisiteFormGroup"
        (ngSubmit)="addSkillPrerequisite()">

    <div class="input-field skill-name">

      <sourced-autocomplete [autocompleteFormControl]="skillNameControl"
                            labelText="Skill Name"
                            debounceTime="500"
                            [itemsSource]="skillsByPartialSkillNameSource">
        <template let-searchResult="item">
              {{searchResult.skillName}}
        </template>
      </sourced-autocomplete>

      <div class="form-validation-errors">
        <div class="form-validation-error" [ngClass]="{ 'has-errors': isFieldHasError(skillNameControl, 'required') }">
          Skill name is required
        </div>
        <div class="form-validation-error" [ngClass]="{ 'has-errors': isFieldHasError(skillNameControl, 'skillDoesNotExist', false) }">
          Skill does not exists
        </div>
        <div class="form-validation-error" [ngClass]="{ 'has-errors': isFieldHasError(skillNameControl, 'skillDoesNotExistCheckFailed', false) }">
          Failed checking if skill exists
        </div>
      </div>

    </div>

    <div class="submit-error">
      {{addSkillPrerequisiteError}}
    </div>

    <div class="submit-wrapper">
      <button type="submit"
              class="submit-button"
              [disabled]="!canAddSkillPrerequisite()"
              [ngClass]="{ disabled: !canAddSkillPrerequisite() }">
             Add
      </button>
    </div>

  </form>

</div>

<div class="submitting-form-wrapper"
     [ngClass]="{ submitting: isAddingSkillPrerequisite }">
  <circular-loading></circular-loading>
</div>
