@import "../../../../commonStyles/_loading";
@import "../../../../commonStyles/_forms";

:host {
  display: flex;

  .users-settings-wrapper{
    &.loading{
      height: 6rem;
    }

    &.error{
      height: 6rem;
    }

    .loading-users-details-error{
      top: 2rem;
    }

    .user-details-wrapper {
      .input-field {
        margin-left: 2rem;
        margin-right: 2rem;
      }

      .collection{
        margin-left: 1rem;
        margin-right: 1rem;

        .item{
          $transition-speed: .3s;
          user-select: none;
          -moz-user-select: none;
          -webkit-user-select: none;
          -ms-user-select: none;
          cursor: pointer;
          @extend .white;
          transition: background-color $transition-speed ease;

          &.hidden {
            display: none;
          }

          &.active {
            @extend .blue;

            .material-icons, .username {
              @extend .white-text;
            }
          }

          .material-icons, .username {
            @extend .blue-text;
            vertical-align: middle;

            transition: color $transition-speed ease;
          }

        }
      }
    }

    .modal {
      @extend .modal-fixed-footer;

      .modal-inner-content{
        height: 100%;
        display: flex;
        flex-direction: column;

        user-settings{
          flex: 1;
        }
      }

      .modal-footer {
        @extend .grey;
        @extend .lighten-3;

        a{
          @extend .btn-flat;
        }
      }

    }

  }
}
