<div class="users-settings-wrapper"
     [ngClass]="{loading: isLoadingUsers, error: loadingUsersError}">

  <div class="loading-users-details">
    <span class="text">Loading users details...</span>
    <circular-loading></circular-loading>
  </div>

  <div class="loading-users-details-error">
    <span class="text">{{loadingUsersError}}</span>
    <button class="retry-button" (click)="reloadUsersDetails()">
     Try Again
    </button>
  </div>

  <div class="user-details-wrapper">

    <div *ngIf="usersDetails">

      <div class="input-field">
        <input class="filter"
               id="user-filter"
               type="text"
               [(ngModel)]="filter"/>
        <label for="user-filter">Filter users</label>
      </div>

      <div #userDetailsList class="collection">

        <a class="item collection-item"
           *ngFor="let userDetails of usersDetails"
           (click)="selectUser(userDetails)"
           [ngClass]="{ hidden: filter && userDetails.username.indexOf(filter) < 0 , active: selectedUser === userDetails}">

            <i class="material-icons">account_circle</i>
            <span class="username">{{userDetails.username}}</span>

        </a>

      </div>

    </div>

  </div>

  <div #userSettingsModal
       class="modal">

      <div class="modal-content">
        <div *ngIf="userSettingsModal.className.split(' ').indexOf('open') >= 0">
          <h4>{{selectedUser.username}}</h4>
          <p>Show permissions here</p>
          <p>Change the password here</p>
        </div>
      </div>
      <div class="modal-footer">
        <a class="modal-action modal-close">Close</a>
      </div>

  </div>

</div>
