@import "../../../../commonStyles/_loading";
@import "../../../../commonStyles/_forms";
@import "../../../../commonStyles/_collections";
@import "~materialize-css/sass/components/_variables.scss";

:host {
  display: flex;
  overflow-y: auto;

  .team-users-list-wrapper{

    .team-users-wrapper {
      .collection{

        .item{
          @extend .small-item;
          $transition-speed: .3s;
          user-select: none;
          -moz-user-select: none;
          -webkit-user-select: none;
          -ms-user-select: none;

          .username {
            @extend .blue-text;
            vertical-align: middle;
          }

        }
      }

      .no-team-members-message{
        position: absolute;
        width: 100%;
        text-align: center;

        .material-icons{
          display: block;
          font-size: 5rem;
        }
      }

      @media #{$small-and-down} {
        .no-team-members-message{
          top: 15%;
        }
      }

      @media #{$medium-and-up} {
        .no-team-members-message{
          top: 25%;
        }
      }
    }

  }
}
