<div class="team-users-list-wrapper loaded-content-wrapper"
     [ngClass]="{loading: isLoadingTeamMembers, error: loadingTeamMembersError}">

  <div class="loading-team-users loading-wrapper">
    <circular-loading></circular-loading>
  </div>

  <div class="loading-team-users-error loading-content-error">
    <span class="text">{{loadingTeamMembersError}}</span>
    <button class="retry-button" (click)="reload()">
     Try Again
    </button>
  </div>

  <div class="team-users-wrapper content-wrapper filling-form-wrapper"
       [ngClass]="{ submitting: removingTeamMember, 'has-submit-error': !!removingTeamMemberError }">

    <div *ngIf="teamMembers" class="team-users-content">

      <ul class="collection" *ngIf="teamMembers.length > 0">

        <li class="item collection-item"
           *ngFor="let teamMember of teamMembers">

            <span class="username">{{teamMember.username}}</span>

            <a class="delete-team-member-button" (click)="$event.stopPropagation(); removeTeamMember(teamMember)">
              <i class="material-icons">delete</i>
            </a>
        </li>

      </ul>

      <span class="no-team-members-message" *ngIf="teamMembers.length < 1">
        <i class="material-icons">face</i>
        There are not team members. It time to add some...
      </span>

    </div>

    <div *ngIf="removingTeamMemberError"
         class="submit-error">
      {{removingTeamMemberError}}
    </div>

    <div class="submitting-form-wrapper"
         [ngClass]="{ submitting: removingTeamMember }">
      <circular-loading></circular-loading>
    </div>

  </div>

</div>
