<div class="team-users-list-wrapper loaded-content-wrapper"
     [ngClass]="{loading: isLoadingTeamMembers, error: loadingTeamMembersError}">

  <div class="loading-team-users loading-wrapper">
    <circular-loading></circular-loading>
  </div>

  <div class="loading-team-users-error loading-content-error">
    <span class="text">{{loadingTeamMembersError}}</span>
    <button class="retry-button" (click)="reload()">
     Try Again
    </button>
  </div>

  <div class="team-users-wrapper content-wrapper">

    <div *ngIf="teamMembers">

      <ul class="collection">

        <li class="item collection-item"
           *ngFor="let teamMember of teamMembers">

            <span class="username">{{teamMember.username}}</span>

        </li>

      </ul>

    </div>

  </div>

</div>
