<h4>{{teamDetails.teamName}}</h4>

<div class="team-settings-wrapper loaded-content-wrapper"
  [ngClass]="{loading: isLoadingPermissions, error: loadingPermissionsError}">

  <div class="loading-permissions loading-wrapper">
    <circular-loading></circular-loading>
  </div>

  <div class="loading-permissions-error loading-content-error">
    <span class="text">{{loadingPermissionsError}}</span>
    <button class="retry-button" (click)="reload()">
     Try Again
    </button>
  </div>

  <div class="content-wrapper">

    <div class="team-settings-content"
         *ngIf="permissions">

      <ul #availableTeamSettings class="tabs">
        <li class="tab"><a href="#teamUsersSettings">Users</a></li>
        <li class="tab"><a href="#teamDetailsSettings">Details</a></li>
      </ul>

      <div id="teamDetailsSettings">
        <edit-team-details [teamDetails]="teamDetails"
                           [canModifyTeamDetails]="permissions.canModifyTeamName">
        </edit-team-details>
      </div>
      <div id="teamUsersSettings">
        <team-users [teamDetails]="teamDetails"
                    [canModifyUsers]="permissions.canModifyTeamUsers"
                    [canModifyTeamAdmins]="permissions.canModifyTeamAdmins"></team-users>
      </div>


    </div>

  </div>
</div>
