@import "../../../../commonStyles/_forms";

:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;

  .title{
    font-size: 1.2rem;
  }

  .filling-form-wrapper{
    flex: 1;
    display: flex;
    flex-direction: column;

    #add-skill-dependency-form{
      flex: 1;
      display: flex;
      flex-direction: column;

      .skill-name{
        flex:1;
      }

      .submit-error{
        margin: 1rem;
      }

      .submit-wrapper{
        margin:0;

        @media #{$small-and-down} {
          .submit-button{
            width: 100%;
          }
        }

        @media #{$medium-and-up} {
          .submit-button{
            width: 8rem;
          }
        }

      }
    }

  }

  .submitting-form-wrapper{
    circular-loading{
      top: 15rem;
    }
  }

}
