@import '../../../../commonStyles/_forms';

:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;

  .filling-form-wrapper{
    flex: 1;
    display: flex;
    flex-direction: column;

    &.unauthorized{
      opacity: .3;
    }

    #team-details-form{
      flex: 1;
      display: flex;
      flex-direction: column;

      .team-details{
        @extend .row;
        flex: 1;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;

        .input-field{
          @extend .col;
          @extend .s12;
        }
      }

      .team-details-updated{
        @extend .green-text;
      }

      .submit-wrapper{
        margin: 0;
        margin-top: 1rem;

        .submit-button{
          width: 100%;
        }
      }
    }
  }

  .unauthorized-to-modify{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;

    .text{
      position: absolute;
      top: 25%;
      left:0;
      right: 0;
      text-align: center;

      .material-icons{
        display: block;
        font-size: 6rem;
      }
    }
  }
}
