@import '~materialize-css/sass/materialize.scss';
@import '../../../../commonStyles/_forms';

:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;

  .filling-form-wrapper{
    flex: 1;
    display: flex;
    flex-direction: column;

    #team-details-form{
      flex: 1;
      display: flex;
      flex-direction: column;

      .team-details{
        @extend .row;
        flex: 1;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;

        .input-field{
          @extend .col;
          @extend .s12;
        }
      }

      .team-details-updated{
        @extend .green-text;
      }

      .submit-wrapper{
        margin: 0;
        margin-top: 1rem;

        .submit-button{
          width: 100%;
        }
      }
    }
  }
}
