<readonly-user-permissions [userDetails]="userDetails"
                           (userPermissions)="userPermissions = $event"
                           *ngIf="state === UserPermissionsSettingsState.READONLY"></readonly-user-permissions>

<update-user-permissions [userDetails]="userDetails"
                         [userPermissions]="userPermissions"
                         *ngIf="state === UserPermissionsSettingsState.UPDATE"></update-user-permissions>

<button *ngIf="state === UserPermissionsSettingsState.READONLY && userPermissions"
        (click)="updatePermissions()">
  Update
</button>
<button *ngIf="state === UserPermissionsSettingsState.UPDATE"
        (click)="cancelUpdatingPermissions()">
  Cancel
</button>
