<readonly-user-permissions [userDetails]="userDetails"
                           (userPermissions)="userPermissions = $event"
                           *ngIf="state === UserPermissionsSettingsState.READONLY"></readonly-user-permissions>

<update-user-permissions [userDetails]="userDetails"
                         [userPermissions]="userPermissions"
                         (cancel)="cancelUpdatingPermissions()"
                         (updatedUserPermissions)="cancelUpdatingPermissions()"
                         *ngIf="state === UserPermissionsSettingsState.UPDATE"></update-user-permissions>

<div class="user-permissions-actions">
  <button *ngIf="state === UserPermissionsSettingsState.READONLY && userPermissions"
          class="update-user-permissions"
          (click)="updatePermissions()">
    Change
  </button>
</div>
