<div class="user-permissions-settings-wrapper"
     [ngClass]="{loading: isLoadingUserPermissions, error: loadingUserPermissionsError}">

  <div class="loading-user-permissions">
    <circular-loading></circular-loading>
  </div>

  <div class="loading-user-permissions-error">
    <span class="text">{{loadingUserPermissionsError}}</span>
    <button class="retry-button" (click)="reload()">
     Try Again
    </button>
  </div>

  <div class="user-permissions-wrapper">

    <div *ngIf="userPermissions">

      <ul class="collection">

        <li class="item collection-item"
           *ngFor="let userPermission of userPermissions">

            <span class="permission">{{userPermission | globalPermissionsName}}</span>

        </li>

      </ul>

    </div>

  </div>

</div>
