@import "~materialize-css/sass/materialize.scss";

form{
  .input-field {
    input {
      &:not(.ng-pristine).ng-touched.ng-invalid:not(.validation-pending) {
        border-bottom: 1px solid red;
      }
    }

    input + label {
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }

    input:focus + label {
      @extend .blue-text;
    }

    input:focus:not([readonly]),
    input.auto-complete-input:focus:not([readonly]), .auto-complete-input:focus:not([readonly]) {
      border-bottom: 1px solid #9e9e9e;
      box-shadow: none;
    }

    .async-validation-indicator {
      opacity: 0;
      position: relative;
      transition: opacity .3s ease;

      &.pending {
        opacity: 1;
      }

      circular-loading {
        position: absolute;
        right: 2px;
        bottom: 2rem;
        $size: 1rem;
        width: $size;
        height: $size;
      }
    }
  }

  .submit-wrapper{
    @extend .row;
    margin-top: 1rem;

    .submit-button {
      @extend .btn;
      @extend .blue;
      @extend .lighten-1;
      @extend .text-white;

      @extend .col;
      @extend .l12;
    }
  }

  .submit-error {
    color: red;
  }
}

.filling-form-wrapper{
  opacity: 1;
  overflow: visible;
  transition: opacity .3s ease;

  &.submitting{
    pointer-events: none;
    opacity: 0.5;
  }
}

.submitting-form-wrapper{
  overflow: hidden;
  display: none;
  opacity: 0;
  transition: opacity .3s ease;
  text-align: center;
  position: absolute;
  bottom: 0;
  top:0;
  left: 0;
  right: 0;

  &.submitting{
    display: block;
    opacity: 1;
  }

  circular-loading {
    position: relative;
    top: 9rem;
    $size: 36px;
    width: $size;
    height: $size;
  }
}

.form-validation-errors {
  position: relative;

  .form-validation-error {
    position: absolute;
    color: red;
    font-size: 0.8rem;
    bottom: -0.1rem;
    right: 0;
    opacity: 0;
    transition: opacity .3s ease;

    &.has-errors{
      opacity: 1;
    }
  }

}
