@import "../../../node_modules/materialize-css/dist/css/materialize.min";

.centered{
  width: 100%;
  text-align: center;
  position: absolute;
  top: 40%;
}

.loading-wrapper {
  @extend .centered;

  .text{
    display: block;
  }

  .progress{
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
  }

  circular-loading{
    display: block;
    margin: auto;
    $size: 2rem;
    width: $size;
    height: $size;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.progress{
  margin-top: 1rem;
  @extend .grey;
  @extend .lighten-2;

  .indeterminate{
    @extend .blue;
  }
}

.spinner-layer{
  @extend .spinner-blue-only;
}

.loaded-content-wrapper {
  width: 100%;
  position: relative;

  &.loading{
    .loading-wrapper{
      opacity: 1;
      visibility: visible;
    }

    .content-wrapper{
      opacity: 0;
      display: none;
    }
  }

  &.error{
    .loading-content-error{
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
    }

    .content-wrapper{
      opacity: 0;
      display: none;
    }
  }

  .loading-wrapper{
    visibility: collapse;
    opacity: 0;
    transition: opacity .3s ease, visibility 0s ease .3s;
  }

  .loading-content-error{
    @extend .centered;
    visibility: collapse;
    opacity: 0;
    transition: opacity .3s ease, visibility 0s ease .3s;
    color: red;
    pointer-events: none;
    top: 30%;

    .text{
      display: block;
      margin-bottom: 1rem;
      min-height: 1.5rem;
    }

    .retry-button{
      @extend .btn;
      @extend .blue;
      @extend .lighten-1;
      @extend .text-white;
    }
  }

  .content-wrapper {
    opacity: 1;
    transition: opacity .3s ease;
  }

}
