@import "../../../node_modules/materialize-css/dist/css/materialize.min";

.loading-wrapper {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 40%;

  .text{
    display: block;
  }

  .progress{
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
  }

  circular-loading{
    display: block;
    margin: auto;
    $size: 2rem;
    width: $size;
    height: $size;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.progress{
  margin-top: 1rem;
  @extend .grey;
  @extend .lighten-2;

  .indeterminate{
    @extend .blue;
  }
}

.spinner-layer{
  @extend .spinner-blue-only;
}
