<div class="change-user-password-card" [ngClass]="{'use-card': showInCard}">

  <div class="card-content">

    <div class="filling-form-card-content"
         [ngClass]="{ submitting: isUpdatingPassword, 'has-submit-error': !!updateUserPasswordError }">

      <span class="title" *ngIf="shouldShowTitle">Change Password</span>

      <form id="update-user-password-form"
            [formGroup]="userPasswordFormGroup"
            (ngSubmit)="changeUserPassword()">

        <div class="form-content">

          <div class="input-field" *ngIf="shouldVerifyCurrentPassword">
            <input id="password"
                   type="password"
                   formControlName="password"
                   [(ngModel)]="model.password"/>
            <label for="password">Password</label>
            <div class="form-validation-errors">
              <div class="form-validation-error" [ngClass]="{ 'has-errors': isFieldInvalid(userPasswordFormGroup.controls.password) }">
                Password is required
              </div>
            </div>
          </div>

          <div ngModelGroup="newPasswordsGroup">

            <div class="input-field new-password">
              <input id="new-password"
                     type="password"
                     formControlName="newPassword"
                     [(ngModel)]="model.newPassword"/>
              <label for="new-password">New Password</label>
              <div class="form-validation-errors">
                <div class="form-validation-error"
                     [ngClass]="{ 'has-errors': isFieldInvalid(newPasswordsGroup.controls.newPassword) }">
                  New password is required
                </div>
              </div>
            </div>

            <div class="input-field new-password-repeat">
              <input id="repeat-password"
                     type="password"
                     formControlName="newPasswordRepeated"
                     [(ngModel)]="model.newPasswordRepeated"/>
              <label for="repeat-password">Repeat the new password</label>
              <div class="form-validation-errors">
                <div class="form-validation-error"
                     [ngClass]="{ 'has-errors': wasFieldEdited(newPasswordsGroup.controls.newPasswordRepeated) && !newPasswordsGroup.valid }">
                  The new passwords don't match
                </div>
              </div>
            </div>

          </div>

        </div>

        <div class="submit-error">
          {{updateUserPasswordError}}
        </div>

        <div class="password-updated" *ngIf="isPasswordUpdated">
          The password was successfully updated
        </div>

        <div class="submit-wrapper">
          <button type="submit"
                  class="submit-button"
                  [disabled]="!userPasswordFormGroup.valid"
                  [ngClass]="{ disabled: !userPasswordFormGroup.valid }">
                 Change
          </button>
        </div>

      </form>

    </div>

    <div class="submitting-form-card-content"
         [ngClass]="{ submitting: isUpdatingPassword }">
      <circular-loading></circular-loading>
    </div>

  </div>

</div>
