@import "../../../../commonStyles/_loading";
@import "../../../../commonStyles/_forms";
@import "../../../../commonStyles/_collections";

:host {
  display: flex;
  overflow-y: auto;

  .update-user-permissions-rules-wrapper{
    &.loading{
      height: 6rem;
    }

    &.error{
      height: 6rem;
    }

    .loading-user-permissions-rules{
      top: 0;
    }

    .loading-user-permissions-rules-error.loading-content-error{
      top: 0;
    }

    .user-permissions-rules-wrapper {
      .collection{

        .item{
          @extend .small-item;
          $transition-speed: .3s;
          user-select: none;
          -moz-user-select: none;
          -webkit-user-select: none;
          -ms-user-select: none;

          .permission-rule {
            @extend .blue-text;
            vertical-align: middle;

            &.disabled{
              @extend .grey-text;
              cursor: default;
            }
          }

        }
      }
    }

  }
}
