@import "../../../../commonStyles/_loading";
@import "../../../../commonStyles/_forms";
@import "../../../../commonStyles/_collections";

:host {
  display: flex;

  .update-user-permissions-rules-wrapper{
    display: flex;

    &.loading{
      height: 6rem;
    }

    &.error{
      height: 6rem;
    }

    &.saving {
      pointer-events: none;

      .user-permissions-rules-wrapper{
        opacity: .3;
      }

      .loading-user-permissions-rules{
        opacity: 1;
        visibility: visible;
        margin-top: 3rem;
      }
    }

    .loading-user-permissions-rules{
      top: 0;
      z-index: 100;
    }

    .loading-user-permissions-rules-error.loading-content-error{
      top: 0;
    }

    .user-permissions-rules-wrapper {
      flex: 1;
      display: flex;

      .user-permissions-rules{
        flex: 1;
        display: flex;
        flex-direction: column;

        .user-premissions-rules-collection-wrapper{
          flex: 1;

          .collection{
            overflow-y: auto;

            .item{
              @extend .small-item;
              $transition-speed: .3s;
              user-select: none;
              -moz-user-select: none;
              -webkit-user-select: none;
              -ms-user-select: none;

              .permission-rule {
                @extend .blue-text;
                vertical-align: middle;

                &.disabled{
                  @extend .grey-text;
                  cursor: default;
                }
              }

            }
          }

        }

        .saving-error{
          color:red;
          padding-left: 1rem;
          padding-bottom: 1rem;
          padding-right: 1rem;
          width: 100%;
          display: block;
        }

        .update-button, .cancel-button {
          @extend .btn;
          @extend .blue;
          @extend .lighten-1;
          @extend .white-text;
          margin-bottom: 1rem;
          display: inline-block;
          margin-left: 1rem;
        }
      }

    }

  }
}
