<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#!" [routerLink]="['']" class="brand-logo">Skills</a>

      <ul *ngIf="isUserLoggedIn"
          class="navigation-options">

          <li>
            <a [routerLink]="['skillsPrerequisites']">
              <i class="material-icons">timeline</i>
            </a>
          </li>

        <li>
          <a [routerLink]="['skills']">
            <i class="material-icons">card_membership</i>
          </a>
        </li>

        <li>
          <a [routerLink]="['teams']">
            <i class="material-icons">supervisor_account</i>
          </a>
        </li>

        <li>
          <a class="dropdown-button"
            data-beloworigin="true"
            data-constrainwidth="false"
            data-activates="dropdown-options">
            <i class="material-icons">arrow_drop_down</i>
          </a>
          <ul id="dropdown-options"
              class="dropdown-content"
              *ngIf="isUserLoggedIn">

            <li>
              <a [routerLink]="['profile']">
                <i class="material-icons">account_circle</i><span class="text">Profile</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['settings']">
                <i class="material-icons">settings</i><span class="text">Settings</span>
              </a>
            </li>
            <li class="divider"></li>
            <li><a href="/logout">Log Out</a></li>

          </ul>

        </li>

      </ul>
    </div>
  </nav>
</div>
