<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/signin">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="User Authentication">

    <title>User Authentication</title>

  </head>

  <body>
    <signin-app>
      <div class="loading-wrapper">
        Loading Skills...
        <div class="progress">
          <div class="indeterminate"></div>
        </div>
      </div>
    </signin-app>
  </body>
</html>
