@import '../../../../../../node_modules/materialize-css/dist/css/materialize.min';

.register-container {
  @extend .row;

  .register-card-wrapper {
    @extend .col;
    @extend .s12;
    @extend .m8;
    @extend .l6;
    @extend .offset-m2;
    @extend .offset-l3;

    // TODO: add animation

    .register-card {
      @extend .card;
      @extend .grey;
      @extend .lighten-4;

      .card-content{
        @extend .card-content;

        .title {
          @extend .card-title;
        }

        .input-field {
          input:focus + label {
            @extend .blue-text;
          }

          input:focus {
            border-bottom: 1px solid #9e9e9e;
            box-shadow: none;
          }
        }

        .account-details, .credentials{
          @extend .row;
          margin-bottom: 0;

          .input-field{
            @extend .col;
            @extend .m6;
            @extend .s12;

            &:first-child{
              padding-left: 0;
            }

            &:last-child{
              padding-right: 0;
            }
          }
        }

        .submit-wrapper{
          @extend .row;
          margin-top: 1rem;

          .submit-button {
            @extend .btn;
            @extend .blue;
            @extend .lighten-1;
            @extend .text-white;

            @extend .col;
            @extend .l12;
          }
        }
      }
    }
  }
}
