@import '~materialize-css/dist/css/materialize.min';
@import '../../../../commonStyles/_forms';

.register-container {
  @extend .row;

  .register-card-wrapper {
    @extend .col;
    @extend .s12;
    @extend .m8;
    @extend .l6;
    @extend .offset-m2;
    @extend .offset-l3;

    .register-card {
      @extend .card;
      @extend .grey;
      @extend .lighten-4;

      .card-content{
        @extend .card-content;

        .title {
          @extend .card-title;
        }

        .user-details, .passwords, .credentials{
          @extend .row;
          margin-bottom: 0;

          .input-field{
            @extend .col;
            @extend .m6;
            @extend .s12;
          }
        }
      }

      .card-action{
        opacity: 1;
        max-height: 5rem;
        overflow: hidden;
        transition: all .3s ease;
        transition-property: opacity, max-height, padding, border-width;

        &.submitting {
          opacity: 0;
          max-height: 0;
          padding: 0;
          border-width: 0;
        }
      }
    }
  }
}
