@import '~materialize-css/sass/components/_color';
@import '~materialize-css/sass/components/_variables';
@import '~materialize-css/sass/components/_typography';
@import '~materialize-css/sass/components/_global';
@import '~materialize-css/sass/components/_buttons';

:host {
  flex: 1;
  display: flex;
  flex-direction: column;

  .skill-dependencies-wrapper{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;

    skill-dependencies-list, add-skill-dependency{
      width: 100%;
      flex: 1;
    }

    skill-dependencies-list{
      margin-bottom: 1rem;
    }

    .skill-dependencies-actions{
      margin-bottom: 0;
      position: relative;
      margin-left: 0;
      margin-right: 0;
      opacity: 1;
      transition: opacity .3s ease;

      &.removing-skill-dependency{
        pointer-events: none;
        opacity: 0.5;
      }

      button{
        @extend .btn;
        @extend .blue;
        @extend .lighten-1;
        @extend .white-text;
      }

      @media #{$small-and-down} {
        .cancel-adding-skill-dependency-button{
          margin-top: 1rem;
          width: 100%;
        }
      }

      @media #{$medium-and-up} {
        .cancel-adding-skill-dependency-button{
          position: absolute;
          bottom: 0;
          left: 9rem;
        }
      }

    }

  }

  @media #{$small-and-down} {
    .skill-dependencies-wrapper{
      min-height: 17rem;
    }
  }

  @media #{$medium-and-up} {
    .skill-dependencies-wrapper{
      min-height: 13rem;
    }
  }
}
