@import '~materialize-css/dist/css/materialize.min';

.signin-container {
  @extend .row;

  .sign-in-card-wrapper {
    @extend .col;
    @extend .s12;
    @extend .m6;
    @extend .l6;
    @extend .offset-m3;
    @extend .offset-l3;

    // TODO: add animation

    .sign-in-card {
      @extend .card;
      @extend .grey;
      @extend .lighten-4;

      .card-content{
        @extend .card-content;

        .title {
          @extend .card-title;
        }

        .input-field {

          input {
            &:not(.ng-pristine).ng-touched.ng-invalid {
              border-bottom: 1px solid red;
            }
          }

          input:focus + label {
            @extend .blue-text;
          }

          input:focus {
            border-bottom: 1px solid #9e9e9e;
            box-shadow: none;
          }

          .validation-error{
            position: absolute;
            color: red;
            font-size: 0.8rem;
            margin-left: 1rem;
            bottom: 1rem;
            right: 0;
            opacity: 0;
            transition: opacity .3s ease;

            &.has-errors{
              opacity: 1;
            }
          }
        }

        .submit-wrapper{
          @extend .row;
          margin-top: 1rem;

          .submit-button {
            @extend .btn;
            @extend .blue;
            @extend .lighten-1;
            @extend .text-white;

            @extend .col;
            @extend .l12;
          }
        }

        .sign-in-card-content{
          opacity: 1;
          max-height: 17rem;
          overflow: hidden;
          transition: all .3s ease;
          transition-property: max-height, opacity;

          &.submitting{
            opacity: 0;
            max-height: 0;
          }
        }

        .submitting-card-content{
          opacity: 0;
          max-height: 0;
          overflow: hidden;
          transition: all .3s ease;
          transition-property: max-height, opacity;

          &.submitting{
            max-height: none;
            opacity: 1;
          }
        }
      }

      .card-action{
        opacity: 1;
        max-height: 5rem;
        overflow: hidden;
        transition: all .3s ease;
        transition-property: opacity, max-height, padding, border-width;

        &.submitting {
          opacity: 0;
          max-height: 0;
          padding: 0;
          border-width: 0;
        }
      }
    }
  }
}
