<div class="signin-container">

  <div class="sign-in-card-wrapper">

    <div class="sign-in-card">

      <div class="card-content">

        <div class="filling-form-wrapper"
             [ngClass]="{ submitting: submitting, 'has-submit-error': !!error }">
          <span class="title">Sign in</span>
          <form id="signin"
                (ngSubmit)="onSubmit()"
                #signinForm="ngForm">

            <div class="input-field">
              <input id="username"
                     type="text"
                     name="username"
                     required
                     [(ngModel)]="model.username"
                     #username="ngModel"/>
              <label for="username">Username</label>
              <div class="form-validation-errors">
                <div class="form-validation-error" [ngClass]="{ 'has-errors': isFieldInvalid(username) }">
                  Username is required
                </div>
              </div>
            </div>

            <div class="input-field">
              <input id="password"
                     type="password"
                     name="password"
                     required
                     [(ngModel)]="model.password"
                     #password="ngModel"/>
              <label for="password">Password</label>
              <div class="form-validation-errors">
                <div class="form-validation-error" [ngClass]="{ 'has-errors': isFieldInvalid(password) }">
                  Password is required
                </div>
              </div>
            </div>

            <div class="submit-error">
              {{error}}
            </div>

            <div class="submit-wrapper">
              <button type="submit"
                      class="submit-button"
                      [disabled]="!signinForm.form.valid"
                      [ngClass]="{ disabled: !signinForm.form.valid }">Log In</button>
            </div>

          </form>
        </div>

        <div class="submitting-form-wrapper" [ngClass]="{ submitting: submitting }">
          <circular-loading></circular-loading>
        </div>
      </div>

      <div class="card-action" [ngClass]="{ submitting: submitting }">
        Don't have an account? <a [routerLink]="['register']">Register</a>
      </div>

    </div>

  </div>

</div>
